{% extends 'layout.html' %}

{% block title %}
    Responder Questões
{% endblock %}

{% block content %}
    <h1 class="mb-4 text-center">Responder Questões</h1>
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" action="{{ url_for('processar_respostas') }}">
                <input type="hidden" name="user_id" value="{{ user_id }}">
                <input type="hidden" name="atividade_id" value="{{ atividade_id }}">
                <input type="hidden" name="questao_id" value="{{ questao_id }}">
                <div class="form-group">
                    <label for="resposta_questao">Resposta</label>
                    <input type="text" class="form-control-file" id="resposta_questao" name="resposta_questao">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Enviar Resposta</button>
            </form>
        </div>
    </div>
{% endblock %}
