{% extends 'layout.html' %}

{% block title %}
    Resultado
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mb-4 text-center">Resultado</h1>
        <div class="result-box">
            <h2 class="result-title">A pontuação total do grupo é: {{ pontuacao_total }}</h2>
            <div class="progress-loader-container">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3e022df3-2e57-4c6e-9548-0f24ee2e03db/daybc8t-47032b83-6cfb-4aff-ac2a-2541ad9ba26d.jpg/v1/fill/w_894,h_894,q_70,strp/final_boss_veigar_by_harimasik_daybc8t-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAwMCIsInBhdGgiOiJcL2ZcLzNlMDIyZGYzLTJlNTctNGM2ZS05NTQ4LTBmMjRlZTJlMDNkYlwvZGF5YmM4dC00NzAzMmI4My02Y2ZiLTRhZmYtYWMyYS0yNTQxYWQ5YmEyNmQuanBnIiwid2lkdGgiOiI8PTEwMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.7-QwnrV1LdU9KJfKMOkB44uQ84UBZlJ69vqg5Ss4Qx8" alt="Image">
                <div class="progress-loader">
                    <div class="progress" id="progress-bar"></div>
                </div>
            </div>
            <a href="/" class="btn btn-primary btn-block mt-4">Voltar</a>
        </div>
    </div>
{% endblock %}
